black==22.6.0
colorama==0.4.3
datasets==2.4.0
embeddings==0.0.8
hypothesis == 6.54
mypy == 0.971
networkx==2.4
pytest-env
numba == 0.55
typing_extensions
numpy == 1.21
plotly==4.14.3
pre-commit == 2.20.0
pydot==1.4.1
pytest == 7.1.2
python-mnist
pytest-runner == 5.2
streamlit-ace
torch
streamlit==1.12.0
watchdog==1.0.2
